<li>
	{{burger_name}}

	
		{{#if devoured}}<span>that was delicious!</span>
            {{else}}
                <button 
                    class="change-devoured" 
                    data-id="{{id}}" 
                    data-newdevoured="{{devoured}}">devour!!!
                </button>
        {{/if}}
	

</li>