<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Lunches</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>

{{!-- * Setup the `main.handlebars` file so it's able to be used by Handlebars. --}}