body {
    background-color: wheat;
    font-family: 'Open Sans Condensed', sans-serif;
    width: 90%;
	margin: 0 auto; 
	display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    padding: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: white;
    position: relative;
}

h1{
    font-family: 'Amatic SC', cursive;
    font-size: 70px;
}

#title{
    text-align: center;
}

#orderBurger{
    text-align: center;

}

/* button{
    
} */
/* #burgerOrdered,
#burgerEaten */



